body { 
    margin: 0;
    /*overflow-x: hidden;
    overflow-y: scroll;*/
    padding: 0;
}
#canv {
    position: fixed;
	margin: 0;
	padding: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.page-wrapper {
	padding: 0px;
	margin: 12px 48px;
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 2*48px);
	word-wrap: break-word;
    color: white;
    font-size: 36px;
    height: 10000px;
}
/*
#canvas-container {
    height: 2000px;
    position: fixed;
}

html, body {
    height: 2000px;
}


#headertext {
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color: white;
}*/